.w3-top + main
{
    padding-top: 4em;
}
main
{
    padding: 2em;
}
.parallax
{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-main
{
    background-image: url('../img/prlx-bck-main.jpg');
}
.header-text
{
    background-color: rgba($color: #ffffff, $alpha: 0.6);
}
.form
{
    min-width: 30%;
    max-width: 50%;
    margin: auto;
}
@media screen and (max-width: 600px)
{
    .form
    {
        max-width: 100%;
    }
}